
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Monda', sans-serif;
}

body {
  background-image: url('forest.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* img {
  opacity: 50%;
  filter: brightness(10%);
} */

.name {
  color: white;
  font-size: 50px;
}

#header {
  text-align: center;
  font-size: 70px;
  color:#55761a; 
  margin-bottom: 10px;
}

.person {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  width: 90%;
  padding-top: 4.5%;
}

.characterNames {
  margin-left: 47%;
  width: 20%;
}

.column {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5px;
  background-color: white;
  border: 3px solid white;
  border-radius: 5px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.row {
  display: flex;
  justify-content: center;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.donate-container {
  display: none;
}

.donate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}

.subheading {
  text-align: center;
  color: #CC99CC;
  margin-bottom: 8px;
  font-size: 50px;
}

.subsubheading {
  text-align: center;
  color: #CC99CC;
  margin-bottom: 5px;
  font-size: 40px;
}

.clicked {
  display: block;
  font-size: 19px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.donate-button {
  margin: 20px;
  padding: 10px;
  color: #8675a9;
  border-color: transparent;
  box-shadow: 10px 10px;
  background-color: white;
  font-size: 20px;
  border: 2px solid #8675a9;
}

.donate-button:hover {
 color: white;
 background-color: #CC99CC;
 border:solid transparent;
}

.info {
  text-align: center;
  color: white;
  font-size: 25px;
  margin-left: 15%;
  margin-right: 15%;
}

.start img {
  width: 80%;
  height: auto;
  margin-bottom: 2%;
}

.start .play {
  font-size: 75px;
  position: relative;
  transform: translate(0px, 250px);
  cursor: pointer;
  background-color: #3d6c2e;
  border: none;
  margin-top: -100px;
}

.start {
  text-align: center;
}

.energyInfo {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.homeText {
  font-size: 25px;
  color: white;
  border-style: dotted;
  border: 5px;
  border-color: #f6f7cd;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.startText {
  color: #ffde59;
}

.additional {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-left: 15%;
  margin-right: 15%;
}

.playButton {
  text-align: center;
  left: 47%;
  position: absolute;
  font-size: 20px;
  background-color: #f6f7cd;
  color: #ac7183;
  border: 2px solid #f6f7cd;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
}
