@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Philosopher:wght@700&family=Bebas+Neue&family=Raleway&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Monda', sans-serif;
}

body {
  background: linear-gradient(to bottom, #9db33e 0%, #dfe49b 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 50px;
}

.dropdown-content a {
  float: none;
  color: white;
  background-color: #853a76;
  padding: 10px;
  margin-left: 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ac7183;
}

a {
  text-decoration: none;
  color: #ac7183;
}

button:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: flex-end;
  background-color: #853a76;
}

.navButton, .dropbtn {
  font-size: 20px;
  background-color: #f6f7cd;
  color: #ac7183;
  margin-left: 10px;
  border: 2px solid #f6f7cd;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
}

.navButton:hover, .dropbtn:hover {
  transform: scale(1.1);
}

.logo {
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.creatorButton {
  margin-right: 1%;
}

.show {
  display: block;
}

#header {
  text-align: center;
  font-size: 70px;
  color: #ac7183;
  margin-bottom: 10px;
  font-family: 'Philosopher', sans-serif;
}

.person {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  width: 90%;
  padding-top: 4.5%;
}

.characterNames {
  margin-left: 47%;
  width: 20%;
}

.column {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5px;
  background-color: white;
  border: 3px solid white;
  border-radius: 5px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.row {
  display: flex;
  justify-content: center;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.donate-container {
  display: none;
}

.donate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}

.subheading {
  text-align: center;
  color: #CC99CC;
  margin-bottom: 8px;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
}

.subsubheading {
  text-align: center;
  color: #CC99CC;
  margin-bottom: 5px;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}

.clicked {
  display: block;
  font-size: 19px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.donate-button {
  margin: 20px;
  padding: 10px;
  color: #8675a9;
  border-color: transparent;
  box-shadow: 10px 10px;
  background-color: white;
  font-size: 20px;
  border: 2px solid #8675a9;
}

.donate-button:hover {
 color: white;
 background-color: #CC99CC;
 border:solid transparent;
}

.info {
  text-align: center;
  color: white;
  font-size: 25px;
  margin-left: 15%;
  margin-right: 15%;
}

.start img {
  width: 80%;
  height: auto;
  margin-bottom: 2%;
}

.start .play {
  font-size: 75px;
  position: relative;
  transform: translate(0px, 250px);
  cursor: pointer;
  background-color: #3d6c2e;
  border: none;
  margin-top: -100px;
}

.start {
  text-align: center;
}

.energyInfo {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.energyText {
  text-align: left;
  text-indent: 4.5%;
}

.homeText {
  font-size: 25px;
  color: white;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.startText {
  color: #ffde59;
}

.additional {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-left: 15%;
  margin-right: 15%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
	position: not fixed;
	width: 100%;
  height: 710px;
	left: 0%;
	bottom: 0%;
	background-color: #CC99CC;
	color: white;
}

.footerLogo {
  height: 100px;
  width: auto;
}

.learnLink {
  color: white;
}

.learnLink:hover {
  font-size: 30px;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 300px;
  font-size: 15px;
  padding: 12px 20px 12px 20px;
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 10px;
}

#myUL {
  list-style-type: none;
  width: 300px;
  border: 3px solid white;
  border-radius: 20px;
}

#myUL li a {
  border: 1px solid #f6f6f6;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 5px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  padding-left: 20px;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
.navLinks {
  font-family: 'Bebas Neue', cursive;
}